* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5982ce;
}

#flex {
  display: flex;
}

.navBar {
  background-color: #2d4b85;
  display: flex;
  justify-content: center;
}

.navBarDetails {
  background-color: #2d4b85;
  display: flex;
  justify-content: flex-start;
}

.navBarBack {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 4px 0 0 0;
}

.phaBack {
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2px;
}

.arrow-back {
  background-color: transparent;
  padding: 1px 0 6px 10px;
}

.iconSet {
  width: 19px;
  height: 100%;
  padding: 3px 0 3px 67%;
}

.europeNav {
  color: aliceblue;
}

.header {
  height: 250px;
  justify-content: space-around;
  gap: -89px;
  margin: 15px 130px 5px 0;
  padding: 0 0 0 0;
}

.main-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  padding: 60px 0 24px 25px;
}

.form-section {
  padding: 23px 0 0 103px;
  gap: 4px;
}

.find-item {
  font-size: 22px;
  width: 100%;
  background-color: rgb(255 255 255);
  border-radius: 5px;
  padding: 2px 0 3px 17px;
}

.text {
  text-decoration: none;
  background-color: #5982ce;
}

.text:nth-last-child(4n-6),
.text:nth-last-child(4n-3) {
  background-color: #2d4b85;
}

.card {
  border-left: 1px solid rgba(255, 255, 255, 0.744);
  border-right: 1px solid rgba(255, 255, 255, 0.744);
  column-gap: 20px;
  padding: 45px 0 45px 45px;
}

.card-name {
  margin-top: 5%;
  color: white;
}

.card-p {
  font-size: 13px;
  margin-top: 1%;
  color: rgb(214, 223, 223);
}

.imgEurope {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 421px 0 7px;
  z-index: -1;
  align-items: center;
}

.icons {
  gap: 20px;
}

.flag-item {
  flex-direction: column;
}

.flags {
  width: 272px;
  height: 159px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.countriesgroup {
  width: 100%;
  overflow-y: scroll;
  height: 98vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px 3px;
}

.navCountries {
  background-color: #4063a7;
}

.h2countries {
  color: aliceblue;
  padding: 0 0 3px 100px;
}

.up {
  display: flex;
  justify-content: center;
  background-color: #2d4b85;
  padding: 1px 0 0 0;
}

.buttonArrow {
  background-color: transparent;
  border: none;
  width: 50px;
}

@media (max-width: 1149px) {
  .main-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    padding: 46px 0 0 110px;
  }
}

@media (max-width: 965px) {
  .main-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    padding: 53px 0 0 155px;
  }

  .form-section {
    padding: 23px 0 0 134px;
    margin: 0 -21px 0 0;
    gap: 4px;
  }
}

@media (max-width: 768px) {
  .main-title {
    color: rgb(255, 255, 255);
  }

  .flags {
    width: 137px;
    height: 110px;
  }

  .imgEurope {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 251px 0 70px;
  }

  .countriesgroup {
    width: 100%;
    overflow-y: scroll;
    height: 98vh;
  }
}

@media (max-width: 924px) {
  .main-title {
    color: rgb(255, 255, 255);
  }

  .flags {
    width: 137px;
    height: 110px;
  }
}

@media (max-width: 820px) {
  .main-title {
    color: rgb(255, 255, 255);
  }

  .flags {
    width: 137px;
    height: 110px;
  }
}

@media (max-width: 612px) {
  .flags {
    width: 85px;
    height: 63px;
  }

  .countriesgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    border-left: 1px solid rgba(255, 255, 255, 0.744);
    border-right: 1px solid rgba(255, 255, 255, 0.744);
    column-gap: 20px;
    padding: 29px 0 22px 2px;
  }

  .card-name {
    margin-top: 5%;
    color: white;
    font-size: 0.9em;
  }

  .main-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 5% 0% 0% 93%;
    color: rgb(255, 255, 255);
  }

  .form-section {
    padding: 6px 0 0 0;
    margin: 0% 0% 0% 0%;
    gap: 4px;
  }

  .imgEurope {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .iconSet {
    width: 19px;
    height: 100%;
    padding: 4px 0 3px 16%;
  }

  .find-item {
    display: none;
  }

  .icon {
    display: none;
  }

  .containerForm {
    padding: 63px 0 0 0;
    margin: 0 0 0 0;
  }
}

@media (max-width: 414px) {
  .flags {
    width: 85px;
    height: 63px;
  }

  .countriesgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    border-left: 1px solid rgba(255, 255, 255, 0.744);
    border-right: 1px solid rgba(255, 255, 255, 0.744);
    column-gap: 20px;
    padding: 29px 0 22px 2px;
  }

  .card-name {
    margin-top: 5%;
    color: white;
    font-size: 0.9em;
  }

  .main-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 5% 0% 0% 93%;
  }

  .form-section {
    padding: 6px 0 0 0;
    margin: 0% 0% 0% 0%;
    gap: 4px;
  }

  .imgEurope {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .iconSet {
    width: 19px;
    height: 100%;
    padding: 4px 0 3px 16%;
  }

  .find-item {
    display: none;
  }

  .icon {
    display: none;
  }

  .containerForm {
    padding: 63px 0 0 0;
    margin: 0 0 0 0;
  }

  .h2countries {
    color: aliceblue;
    padding: 0 0 3px 155px;
  }
}

@media (max-width: 412px) {
  .flags {
    width: 85px;
    height: 63px;
  }

  .h2countries {
    color: aliceblue;
    padding: 0 0 3px 155px;
  }

  .countriesgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    border-left: 1px solid rgba(255, 255, 255, 0.744);
    border-right: 1px solid rgba(255, 255, 255, 0.744);
    column-gap: 20px;
    padding: 29px 0 22px 2px;
  }

  .card-name {
    margin-top: 5%;
    color: white;
    font-size: 0.9em;
  }

  .main-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: rgb(1, 1, 15);
    padding: 5% 0% 0% 93%;
  }

  .form-section {
    padding: 6px 0 0 0;
    margin: 0% 0% 0% 0%;
    gap: 4px;
  }

  .imgEurope {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .iconSet {
    width: 19px;
    height: 100%;
    padding: 4px 0 3px 16%;
  }

  .find-item {
    display: none;
  }

  .icon {
    display: none;
  }

  .containerForm {
    padding: 63px 0 0 0;
    margin: 0 0 0 0;
  }
}

@media (max-width: 390px) {
  .flags {
    width: 79px;
    height: 63px;
  }

  .countriesgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0;
  }

  .h2countries {
    color: aliceblue;
    padding: 0 0 3px 139px;
  }
}

@media (max-width: 375px) {
  .flags {
    width: 74px;
    height: 63px;
  }

  .h2countries {
    color: aliceblue;
    padding: 0 0 3px 139px;
  }

  .card {
    border-left: 1px solid rgba(255, 255, 255, 0.744);
    border-right: 1px solid rgba(255, 255, 255, 0.744);
    column-gap: 20px;
    padding: 29px 0 22px 2px;
  }

  .card-name {
    margin-top: 5%;
    color: white;
    font-size: 0.9em;
  }

  .main-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 5% 0% 0% 93%;
  }

  .form-section {
    padding: 6px 0 0 0;
    margin: 0% 0% 0% 0%;
    gap: 4px;
  }

  .imgEurope {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .iconSet {
    width: 19px;
    height: 100%;
    padding: 4px 0 3px 16%;
  }

  .find-item {
    display: none;
  }

  .icon {
    display: none;
  }

  .containerForm {
    padding: 63px 0 0 0;
    margin: 0 0 0 0;
  }
}

@media (max-width: 390px) {
  .main-title {
    color: rgb(255, 255, 255);
  }

  .flags {
    width: 79px;
    height: 63px;
  }

  .countriesgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0;
  }

  .h2countries {
    color: aliceblue;
    padding: 0 0 3px 139px;
  }
}

@media (max-width: 375px) {
  .main-title {
    color: rgb(255, 255, 255);
  }

  .flags {
    width: 74px;
    height: 63px;
  }

  .h2countries {
    color: aliceblue;
    padding: 0 0 3px 139px;
  }
}

/*
-------details section */

.shield {
  display: flex;
  justify-content: space-around;
  margin: 31px 0 33px 0;
  gap: 30px;
}

.imgShield {
  padding: 20px 0 20px 0;
}

.Specification-title {
  color: white;
  padding: 70px 0 20px 0;
}

.divCountryDetails {
  background-color: #2d4b85;
  color: aliceblue;
  text-align: center;
  padding: 5px 0 5px 0;
}

.h2CountryDetails {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subRegion {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  gap: 30px;
  padding: 40px 5% 40px 5%;
  background-color: #4063a7;
}

.coordenates {
  display: flex;
  justify-content: space-between;
  margin: 31px 0 33px 0;
  gap: 30px;
  padding: 0 5% 0 5%;
}

.specificationPopulation {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  gap: 30px;
  padding: 40px 5% 40px 5%;
  background-color: #4063a7;
}

.starWeek {
  display: flex;
  justify-content: space-between;
  margin: 31px 0 33px 0;
  gap: 30px;
  padding: 0 5% 0 5%;
}

.specificationCapital {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  gap: 30px;
  padding: 40px 5% 40px 5%;
  background-color: #4063a7;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
